@import "tailwindcss";
@plugin "daisyui";

@theme {
    --font-poppins: var(--font-poppins);
}

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}